@tailwind base;
@tailwind components;
@tailwind utilities;

.logo {
  width: 180px;
  height: 50px;
  background-image: url("/images/Logo.png");
  background-repeat: no-repeat;
  background-position: left;
  background-size: contain;
}

@keyframes enter-next {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-next {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes enter-prev {
  from {
    opacity: 0;
    transform: translateX(-100%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes exit-prev {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(100%);
  }
}

.animate-enter-next {
  animation: enter-next 0.75s forwards;
}

.animate-exit-next {
  animation: exit-next 0.75s forwards;
}

.animate-enter-prev {
  animation: enter-prev 0.5s forwards;
}

.animate-exit-prev {
  animation: exit-prev 0.5s forwards;
}
